
html,*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.con-body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 0;
}
.con-body img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
    z-index: -1;

}
.main-header{
    /* background-color: blue; */
    height: 100px;
    width: 100vw;
    top: 10px;
    position: relative;
}
.in-header{
    margin: 0;
    padding: 0;
    /* background-color: purple; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.logo{
    height: auto;
    width: 20%;
    /* background-color: green; */
    justify-content: center;
}
.menu{
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    width: 60%;
}
.in-header :is(.logo, .menu, .menu :is(ul), .login){
    display: flex;
    align-items: center;
}
.menu ul{
    justify-content: space-around;
}
.menu ul li{
    padding: 1rem;
}
.in-header :is(ul, ul li, ul li a, .btn){
    font-size: 1.5rem;
    list-style: none;
    color: rgb(251, 251, 251);
    text-decoration: none;
    font-family: cursive;
}
.login{
    /* background-color: white; */
    margin-bottom: 1ex;
    justify-content: center;
    width: 20%;
}
.btn{
   background-color: rgb(0, 174, 255);
   height: 5.5vh;
   width: 7.5vw;
   display: flex;
   justify-content: center;
   align-items: center;
   border: none;
   border-radius: 10px;
}
.btn:hover{
    background-color: rgb(0, 255, 170);
}
.in-header :is(.menu :is(ul li a), .login :is(ul li a)):hover { 
    color: aqua;
}

.con-content{
    margin-top: 10%;
    height: auto;
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.con-content h2{
    color: whitesmoke;
    font-size: xx-large;
    font-family: monospace;
}
.con-content p{
    font-size: medium;
    color: rgb(235, 234, 234);
    font-family: 'Times New Roman', Times, serif;
}
.con-content button{
    height: 5vh;
    width: 10%;
    border: none;
    border-radius: 30px;
    background-color: aquamarine;
    font-size: large;
    font-weight: 500;
    font-family: sans-serif;
    
}
.con-content :is(h2, p, button):hover{
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
}
.con-content button:hover{
    background-color: rgb(123, 146, 250);
    
}


.main-header-respove{
    display: none;
}